body {
	font-family: 'Raleway', sans-serif;
	background-color: #ecfdef;
}

.navbar-collapse {
	flex-grow: 0;
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	background-color: #ecfdef;
}

.folio-link {
	display: block;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.folio-link:after {
	content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.3s ease;
  bottom: 0%;
}

.folio-link:hover::after {
  width: 82%;
  height: 2px;
  background-color: #000;
}

.navbar-border {
	border-bottom: 1px solid #eee;
	background-color: #ecfdef;
}

.nav-item {
	padding-left: 2rem;
}

.navbar-light .navbar-nav .nav-link {
	color: #555;
	font-weight: 500;
	font-size: 18px;
}

.btn-cta {
	font-size: 18px;
	background-color: #4B8220;
	color: #fff;
	border-radius: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	font-weight: 500;
	transition: 0.3s ease;
}

.btn-cta:hover {
	background-color: #376612;
	cursor: pointer;
	color: #fff;
}

.btn-group {
	margin-top: 1.25rem;
}

header {
	padding: 4.5rem 0 0 0;
	background-color:#ecfdef;
}

.main-text {
	padding: 7rem 0 0 0;
}

.name-intro {
	color: #333;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 8px 0;
	letter-spacing: 2.4px;
}

.role-intro {
	font-size: 40px;
	color: #555;
	font-weight: 600;
	letter-spacing: 2.4px;
	margin: 0 0 20px 0;
}

.text-intro {
	font-weight: 500;
	font-size: 20px;
	color: #666;
}

.btn-contact,
.btn-resume {
	font-weight: 500;
	letter-spacing: 1.2px;
	border-radius: 5px;
	font-size: 18px;
	padding: 8px 20px;
	transition: 0.2s ease;
}

.btn-contact {
	background-color: #4B8220;
	color: #fff;
	border: 2px solid #4B8220;
	margin-right: 20px;
	text-decoration: none;
}

.btn-resume {
	background-color: #fff;
	border: 3px solid #4B8220;
	color: #4B8220;
	text-decoration: none;
}

.btn-contact:hover {
	background-color: #376612;
	color: #ffff;
}

.btn-resume:hover {
	border: 3px solid #376612;
	color: #376612;
	transition: 0.3s ease;
}

#portfolio {
	margin: 0 60px;
	box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
	background-color: #fff;
}

.portfolio-container {
	padding-bottom: 4rem;
}

.port-head {
	padding: 2.5rem 0;
}

.sub-head {
	color: #4B8220;
	font-weight: 600;
	font-size: 24px;
}

.main-head {
	font-weight: 600;
	font-size: 40px;
	letter-spacing: 2.4px;
	color: rgba(0, 0, 0, 0.72)
}

.folio-card-link {
	text-decoration: none;
}

.card {
	border: none;
}

.card-row-2 {
	padding: 2.5rem 0;
}

.card-body {
	padding: 2.5rem;
	border: 1px solid #eee;
}

.card-title {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: rgba(0, 0, 0, 0.72);
	margin-bottom: 20px;
}

.card-text {
	color: rgba(0, 0, 0, 0.6);
	font-size: 20px;
	font-weight: 500;
}

.taptrack {
	background-color: #FFFAE0;
}

.audio {
	background-color: #F2F0ED;
}

.maya {
	background-color: #EBF3F4;
}

.bartermates {
	background-color: #F2F0ED;
}

.dream {
	background-color: #e4fbef;
}

.photo {
	background-color: #EFEDF3;
}

.video {
	background-color: #EBF5F1;
}

#footer {
	background-color: #fff;
	filter: drop-shadow(0px -4px 6px rgba(0, 0, 0, 0.05));
	padding: 2.5rem 0;
	font-weight: 600;
}

.foot-subhead {
	font-size: 24px;
	color: rgba(75, 130, 32, 1);
}

.foot-head {
	font-size: 40px;
	color: rgba(0, 0, 0, 0.72);
	letter-spacing: 2.4px;
	margin-bottom: 2.5rem;
}

.foot-btn {
	background-color: rgba(75, 130, 32, 1);
	width: 240px;
	font-size: 24px;
	height: 160px;
	padding: 28px;
	font-weight: 500;
	border-radius: 5px;
	border: 1px solid #rgba(75, 130, 32, 1);
	margin: 0 20px;
	transition: 0.3s ease-in;
	color: #ddd;
	text-decoration: none;
}

.foot-btn:hover {
	border: 1px solid #376612;
	background-color: #376612;
	color: #ddd;
}

.linkedin-icon {
	margin-bottom: 20px;
}

.gmail-icon {
	margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
	.main-text {
		padding: 2.5rem 0;
		text-align: center;
	}
	#portfolio {
		margin: 0 1rem;
	}
	.portfolio-container {
		padding-bottom: 2rem;
	}
	.card {
		margin: 1rem 0;
	}
	.card-row-2,
	.card-row-3 {
		padding: 0;
	}
	.card-body {
		padding: 1.5rem;
	}
	.foot-btn {
		margin-bottom: 1.5rem;
	}
	.nav-item {
		padding-left: 0.5rem;
	}
}